<div class="row">
	<div class="col-lg-4">
		{{ form_widget(form.subscriptionPeriod, {'attr': {'class': 'form-control fieldTitle'}}) }}
    </div>
    <div class="col-lg-2">
        {{ form_widget(form.price, {'attr': {'class': 'form-control m-bot15 fieldType'}}) }}
    </div>
    <div class="col-lg-2">
        {{ form_widget(form.currencyCode, {'attr': {'class': 'form-control m-bot15 fieldType'}}) }}
    </div>
	<div class="col-lg-1">
	    <a href="javascript:;" class="btn btn-success btnAddField"><i class="icon_plus_alt2"></i></a>
	    <a href="javascript:;" class="btn btn-danger btnRemoveField"><i class="icon_close_alt2"></i></a>
	</div>
</div>
